body {
  background: #bfd8d5;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #f4f3f3;
  padding-bottom: 30px;
}
main {
  padding: 30px 0;
}
form {
  display: block;
  text-align: center;
}

.weather-app {
  background: #dfdfdf;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

form .search-field {
  background-color: #f4f3f3;
  color: rgba(50, 68, 57, 0.4);
  border: none;
  font-size: 15px;
  padding: 10px;
  width: 70%;
  border-radius: 6px;
  margin: 0 auto;
}
form .search-button {
  margin-left: 0 auto;
  font-size: 15px;
  background-color: #3baea0;
  color: #fff;
  border: #fff;
  padding: 10px;
  line-height: 1;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.current-city {
  font-family: "Questrial", sans-serif;
  font-size: 45px;
  margin: 0 auto;
  color: #193327;
  padding-bottom: 2px;
}
.current-info {
  color: #919190;
  font-size: 14px;
  margin: 0 auto;
}
.current-info strong {
  color: #118a7e;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temp {
  color: #193327;
}
.current-temp-emoji {
  font-size: 25px;
  position: relative;
  top: -5px;
  margin-right: 10px;
}
.current-temp-number {
  position: relative;
  font-size: 50px;
  font-weight: bold;
}
.current-temp-value {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -21px;
}
footer {
  color: #393e46;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #f4f3f3;
  padding-top: 15px;
}
footer a {
  color: #3baea0;
  font-weight: bold;
}
